.header {
  width: calc(100% - 2rem);
  margin: 1rem;
  border-radius: 1rem;
  overflow: hidden;
  height: 20rem;
  position: relative;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
  }

  .overlay {
    position: absolute;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.589) 10%, rgba(0, 0, 0, 0.342) 100%);
    top: 0;
    left: 0;
    right: 0; 
    bottom: 0;
    width: 100%;
    height: 100%;
  }

  .info {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.637) 10%, rgba(0, 0, 0, 0) 100%);
    color: white;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 2rem;
    font-weight: 600;
    gap: 0.25rem;

    .title {
      font-size: 3rem;
      font-weight: 700;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .details {
      font-size: 1rem;
      color: var(--text-color-secondary);
    }
  }
}
